In [ ]:
#W4A1
n = int(input())
s = 0
for i in range(n+1):
  s += i
print(s)

0
0

In [ ]:
#W4A2
flag = True
while flag == True:
    n = int(input())
    if n == 1:
      print("So nguyen to")
      break
    elif n < 1:
      print("Khong phai so nguyen duong")
    elif n > 1:
      for i in range(2,n):
        if n % i == 0:
          print("Khong phai so nguyen to")
          flag = False
          break
      if flag == True:
        print("So nguyen to")
        break

In [ ]:
#W4A3
n = int(input())
s = 1
for i in range(2,n+1):
  s = s * i
print(s)

1
1

In [ ]:
#W4A4
n = int(input())
dem = 0
while n > 0:
  n = n // 10
  dem += 1
print(dem)

999
3

In [ ]:
#W4A5
n = int(input())
res = list(map(int, input().split()))
flag = True
for i in range(n):
  if res[i] == 42:
    flag = False
if flag == False:
  print("I've found the meaning of life!")
else:
  print("It's a joke!")

3
1 2 3
It's a joke!

In [ ]:
#W4A6
def prime(n):
  flag = True
  if n < 1:
    return False
  elif n == 1:
    return False
  elif n > 1:
    for i in range(2,n):
      if n % i == 0:
        flag = False
        break
    if flag == True:
      return True
    else:
      return False
a, b = map(int, input().split())
dem = 0
for i in range(a, b+1):
  if prime(i) == True:
    dem += 1
print(dem)

2 5
3

In [ ]:
#W4A7
n = int(input())
def prime(n):
  flag = True
  if n < 1:
    return False
  elif n == 1:
    return False
  elif n > 1:
    for i in range(2,n):
      if n % i == 0:
        flag = False
        break
    if flag == True:
      return True
    else:
      return False
lon = 0
for i in range(n):
  if prime(i) == True:
    lon = i
print(lon)

32321
32309

In [ ]:
#W4A8
n = int(input())
i = 0
def reverse(x):
  res = 0
  while x > 0:
    res = res * 10 + x % 10
    x = x // 10
  return res
while i <= 1000:
  n = n + reverse(n)
  i += 1
  if n == reverse(n):
    print(i, n)
    break
else:
  print("Số này không thể tạo thành palindrome")

196
Số này không thể tạo thành palindrome

In [ ]:
#W4A9
import math
n = int(input())
def chu_so(x):
  txt = str(x)
  a = list(txt)
  flag = True
  for i in range(len(a)):
    for j in range(i+1, len(a)):
      if a[i] == a[j]:
        flag = False
        break
  return flag
i = 1
while i < math.sqrt(n):
  if chu_so(i**2) == True:
    print(i**2, end = " ")
  i += 1

123456
False

In [ ]:
#W4A10
n = int(input())
a = n
def collatz(x):
  i = 0
  while x != 1:
      if x % 2 == 0:
          x = x / 2
      else:
          x = 3*x + 1
      i += 1
  return i
for j in range(n-1, 2, -1):
  if collatz(j) > collatz(a):
      a = j
print(a, collatz(a))

In [ ]:
#W4A11
n = int(input())
import math
for i in range(2, n):
  if n % i == 0 and i % 2 == 0:
    print(i, end = " ")

In [ ]:
#W4A12
x = int(input("Số tiền gửi: "))
n = int(input("Số tháng gửi: "))
print(int(x*(1.07**n)))

In [ ]:
#W4A13
a, b = map(int,input().split())
c = 0
d = 0
for i in range(1, a):
    if a % i == 0:
        c = c + i
for j in range(1, b):
    if b % j == 0:
        d = d + j
if a == d and b == c:
    print("true")
else:
    print("false")

1 3
false

In [ ]:
#W4A14
m ,n = map(int,input().split())
while n != 0:
    d = n
    n = m % n
    m = d
print(m)

In [ ]:
#W4A15
m, n = map(int,input().split())
x1 = (4 * m - n) / 2
x2 = (n - 2 * m) / 2
if  x1 == int(x1) and x1 > 0 and x2 == int(x2) and x2 > 0:
    print(int(x1), int(x2))
else:
    print("invalid")